<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web
        Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
version="2.5" metadata-complete="true">

<absolute-ordering />
<!--			MENU			-->

    <servlet-mapping>
        <servlet-name>MENU</servlet-name>
        <url-pattern>/MENU</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MENU</servlet-name>
        <servlet-class>menu</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IDOU</servlet-name>
        <url-pattern>/IDOU</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IDOU</servlet-name>
        <servlet-class>menu_idou</servlet-class>
    </servlet>


<!--                No11                  -->
    <servlet>
        <servlet-name>HOZON</servlet-name>
        <servlet-class>No11_hozon</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>INSERT</servlet-name>
        <servlet-class>ShinNo11</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>INSERT</servlet-name>
        <url-pattern>/INSERT</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HOZON</servlet-name>
        <url-pattern>/HOZON</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RETURN</servlet-name>
        <servlet-class>No11_idou</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RETURN</servlet-name>
        <url-pattern>/RETURN</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>END</servlet-name>
        <servlet-class>No11_idou</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>END</servlet-name>
        <url-pattern>/END</url-pattern>
    </servlet-mapping>


<!--             No12              -->

    <servlet-mapping>
        <servlet-name>UPDATE</servlet-name>
        <url-pattern>/UPDATE</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UPDATE</servlet-name>
        <servlet-class>ShinNo12</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HOZON12</servlet-name>
        <url-pattern>/HOZON12</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HOZON12</servlet-name>
        <servlet-class>No12_hozon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RETURN12</servlet-name>
        <url-pattern>/RETURN12</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RETURN12</servlet-name>
        <servlet-class>No12_idou</servlet-class>
    </servlet>

<!--             No13              -->

    <servlet-mapping>
        <servlet-name>DELETE</servlet-name>
        <url-pattern>/DELETE</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DELETE</servlet-name>
        <servlet-class>ShinNo13</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KAKUNIN13</servlet-name>
        <url-pattern>/KAKUNIN13</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KAKUNIN13</servlet-name>
        <servlet-class>No13_delete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RETURN13</servlet-name>
        <url-pattern>/RETURN13</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RETURN13</servlet-name>
        <servlet-class>No13_idou</servlet-class>
    </servlet>

    <!--			No14			-->
    <servlet-mapping>
        <servlet-name>SELECT</servlet-name>
        <url-pattern>/SELECT</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SELECT</servlet-name>
        <servlet-class>ShinNo14</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESULT</servlet-name>
        <url-pattern>/RESULT</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RESULT</servlet-name>
        <servlet-class>No14_idou</servlet-class>
    </servlet>

</web-app>
