<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>書籍貸出画面</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="/LEND_BUTTON.js"></script>
	<script src="/LEND_CHECK.js"></script>
	<script src="/LEND_RE_TBL.js"></script>
	<script src="/LEND_BASIC.js"></script>
	<script src="/LEND_CONFI.js"></script>
	
	<script>
		
		window.onload = function() {
			var function_Name = $("#function").val();
			var judge = $("#judge").val();
			
			if (function_Name === "lend") {
				BIGIN(judge);//貸出画面の時
			} else if (function_Name === "confi") {
				CONFI_BIGIN();	//貸出確認画面の時
			}
		}
		
		function CHG(id){
			document.No.action = id;
			document.No.submit();
		}
		
	</script>


</head>
<style>
    .center {
        text-align: center;
    }
</style>
<body>
<form action="SEL_FUNC" method="post" name="No">
    <div style="padding:background-color rgb(255, 255, 255);
     width:1300px; text-align: center;border: 1px solid rgb(0, 0, 0);">
     
        <input type="hidden" id="list_Send" name="list_Send">
        <input type="hidden" id="judge" th:value="${judge}">
        <input type="hidden" id="books" name="books">
        <input type="hidden" id="list" name="list" th:value="${list}">
        <input type="hidden" id="function" th:value="${function}">
        <input type="hidden" id="book_Data_List" name="book_Data_List" th:value="${book_Data_List}">
        <input type="hidden" id="avail_Books_Count" name="avail_Books_Count" th:value="${avail_Books_Count}">
     
     <table align="center" border="1" >
		 <tr>
			 <th>図書カード番号</th>
			 <td th:text="${card_Number}"></td>
             <input type="hidden" name="card_Number" id="card_Number" th:value="${card_Number}" readonly>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         </tr>
         <tr>
             <th>利用者氏名</th>
             <td th:text="${user_Name}"></td>
             <input type="hidden" name="user_Name" id="user_Name" th:value="${user_Name}" readonly>
         </tr>
     </table>
        <br><br>
        
        <!-- functionの値によって画面の表示を変更 -->
        
        <div th:if="${function == 'lend'}">
			
			<div style="padding:background-color rgb(255, 255, 255);
         	height:25px;  font-size: 14px;line-height: 10px;" id="NUM_DIG_EM"></div>
        	<div style="padding:background-color rgb(255, 255, 255);
         	height:25px;  font-size: 14px;line-height: 10px;" id="NUM_FORM_EM"></div>
        	<div style="padding:background-color rgb(255, 255, 255);
        	height:25px;  font-size: 14px;line-height: 10px;" id="LEND_FUNC_EM"></div>
        	
			<table align="center" border="1" width="500px">
				<tr>
                	<th>書籍名</th>
                	<td><input type="text" name="book_Name" id="book_Name" style="width:350px"></td>
            	</tr>
            	<tr>
                	<th>書籍番号</th>
                	<td><input type="text" name="book_Number" id="book_Number" style="width:350px"></td>
            	</tr>
            	<tr>
                	<th>ジャンル名</th>
                	<td>
					
                    <select name="genre_Name" id="genre_Name" style="width:350px ;text-align:center;" align="center">
						<option th:value="${genre_Number_0}"><p th:text = "${genre_Name_0}"></p></option>
						<option th:value="${genre_Number_1}"><p th:text = "${genre_Name_1}"></p></option>
						<option th:value="${genre_Number_2}"><p th:text = "${genre_Name_2}"></p></option>
						<option th:value="${genre_Number_3}"><p th:text = "${genre_Name_3}"></p></option>
						<option th:value="${genre_Number_4}"><p th:text = "${genre_Name_4}"></p></option>
						<option th:value="${genre_Number_5}"><p th:text = "${genre_Name_5}"></p></option>
						<option th:value="${genre_Number_6}"><p th:text = "${genre_Name_6}"></p></option>
						<option th:value="${genre_Number_7}"><p th:text = "${genre_Name_7}"></p></option>
						<option th:value="${genre_Number_8}"><p th:text = "${genre_Name_8}"></p></option>
						<option th:value="${genre_Number_9}"><p th:text = "${genre_Name_9}"></p></option>
                    </select>
                    
                	</td>
            	</tr>
        	</table>
        	
        	<br><br>

        	<input type="button" value="検索" id="SRCH_LIST" onclick="DISPLAY()" disabled style="width:200px"><br><br>

        	<div class="center">
				残り借りられる冊数: <span id="remaining_Books"></span>冊
        	</div>
        
			<div th:insert="book_Tbl :: book_Tbl"></div>
			<br>
			
			<input type="button" value="戻る" id="SEL_FUNC" onclick="CHG(this.id)" style="width:200px">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	<input type="button" value="貸出" id="LEND_FUNC_CONFI" onclick="CHG(this.id)" style="width:200px" disabled>
			
		</div>
		
        
        <div th:if="${function == 'confi'}">
			
			<table align="center" border="1"width=500px;>
				<th>以下の書籍を貸し出します<br>
			 	間違いがなければ確認ボタンを押してください</th>
		 	</table>
		 	<br><br>
		 
		 	<table align="center" width=500px;>
		 		<th th:text="${error_Mess}" style="height:25px;  
		 		font-size: 14px;line-height: 10px;color:red;"></th>
		 	</table>
		 	
			<div th:insert="book_Tbl :: book_Tbl"></div>
			<br> 
			<input type="hidden" id="return_Confi" name="return_Confi" value ="true">
		 	<input type="button" value="戻る" id="LEND_FUNC"  onclick="CHG(this.id)" style="width:200px"> 
		 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
		 	<input type="button" value="確認" id="LEND_FUNC_FIN"  onclick="CHG(this.id)" style="width:200px">
			
		</div>
		
		
		<div th:if="${function == 'fin'}">
			
	 		<table align="center" border="1"width=500px;>
	    	<th>書籍の貸出処理が完了しました<br>
			<p th:text="${formatted_Date}"></p></th>
			</table>
			<br>
			<input type="button" value="戻る" id="SEL_FUNC" onclick="CHG(this.id)" style="width:200px">
		  
		</div>
		
		<br><br>
		
    </div>
</form>
<br>
</body>
</html>