<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>図書館機能選択画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 
 
 <script>

	function chg(id)
    {
 	   document.No.action = id;
 	   document.No.submit();
    }
</script>


</head>
<style>
.center {
	text-align: center;
}
</style>
<body>
	<form action="SEL_FUNC" method="post" name="No">
		
	    <div style="padding:background-color rgb(255, 255, 255);
	     width:500px; text-align: center;border: 1px solid rgb(0, 0, 0);">
			
			
			<table align="center" border="1">
			<tr><th > 図書カード番号</th><td th:text="${card_Number}"></td>
			<input type="hidden" name="card_Number" id="card_Number" th:value="${card_Number}" readonly>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </tr>
			<tr><th>利用者氏名</th><td th:text="${user_Name}"></td>
			<input type="hidden" name="user_Name" id="user_Name" th:value="${user_Name}"readonly></tr>
			</table>
			<br><br><br>
			<div style="display:inline-block; background:rgb(255, 255, 255); 
			padding:15px; border: 5px double rgb(0, 0, 0); border-radius:10px; word-break:break-all;">
			
   			図書館システム選択画面
			</div><br><br><br><br>
			<input type="hidden" id="return_Confi" name="return_Confi" value ="false">
			
			 

			
			<input type="submit" value="貸出" id="LEND_FUNC" onclick="chg(this.id)"style = width:100px>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			<input type="submit" value="返却" id="RET_FUNC" onclick="chg(this.id)"style = width:100px> <br><br><br><br>
			<input type="submit" value="終了" id="UI_IN_SCRN" onclick="chg(this.id)" style = width:150px> <br><br></div>
			
			
	</form>
	<br>
</body>
</html>