<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>No11社員情報登録</title>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<style>
	.center{
		text-align: center;
	}
	</style>
<body>
		社員情報登録画面<br><br>
		<span th:if="${key03}">
  				<td th:text="${key04}"></td><br>
  				<td th:text="${key05}"></td><br><br>
		</span> 
	<form action="KAKUNIN_11" method="post">
	<input type="hidden" id="syainID" name="syainID" th:value ="${key01}" >
	<input type="hidden" id="syainNAME" name="syainNAME" th:value ="${key02}" >
		<input type="submit" value="確認">

	</form>
	<form action="MODORI" method="post">
		<input type="submit" value="戻る">
		
			
	</form>
	</body>
</html>