<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>No14社員情報検索</title>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script type="text/javascript" th:src="@{/js/js_No.js}"></script>
		 <script type="text/javascript" th:src="@{/js/js_No14.js}"></script>
	</head>
	<style>
	.center{
		text-align: center;
	}
	</style>
<body onload="color1()">
	<input type="hidden" id="id_red" th:value="${id_point}">
	<input type="hidden" id="name_red" th:value="${name_point}">
	<form action="SELECT" method="post" name="No">
	<div style="padding:background-color: #FFFFFF; width:300px; text-align: center;">
		社員情報検索画面<br> 検索したい社員情報を入力して下さい<br>
		
		
		<span th:if="${key03}">
			<font color="red">
  				<td th:text="${key04}"></td><br>
  				<td th:text="${key05}"></td><br><br>
  			</font>
		</span> 
 

 		<input type="hidden" id="red" value= "<%=red%>" onchange = "color1()">
 		<input type="hidden" id="resP" value= "<%=resP%>" onchange = "modori()">
		<input type="text" name="kensaku" id="kensaku" onchange = "active('SELECT')"><br>
		社員IDをA001～Z999の間の半角英数字で入力して下さい<br>
		＊社員IDは大文字のアルファベット+3桁の数字の組み合わせです<br>(000の並びは使用できません)<br>
		255文字以内で入力して下さい<br></div>
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<input type="button" value="検索" id="SELECT" onclick="chg(this.id)" disabled>
　　　		<p>&emsp;&emsp;優先順位　　&emsp;&emsp;&emsp;検索条件</p>
<p>&emsp;<input type="radio" name="prime_juni" value="syainID" checked>社員ID
&emsp;&emsp;<input type="radio" name="con" value="front" checked>前方一致
         <input type="radio" name="con" value="all">全て一致</p>
　　　		<p>&emsp;
		<input type="radio" name="prime_juni" value="syainNAME">社員名&emsp;&emsp;
        <input type="radio" name="con" value="back">後方一致
        <input type="radio" name="con" value="part" >部分一致</p>　　　
         <p>&emsp;社員ID表示順&emsp;&emsp;&emsp;&emsp;社員名表示順
　　　<p>&emsp;<input type="radio" name="id_juni" value="ASC" checked>昇順
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <input type="radio" name="name_juni" value="ASC"checked>昇順</p>　　　
　　　<p>&emsp;<input type="radio" name="id_juni" value="DESC" >降順
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <input type="radio" name="name_juni" value="DESC">降順</p>　


	&emsp;&emsp;&emsp;
	<input type="button" value="メニュー画面へ戻る" id="IDOU" onclick="chg(this.id)">
	</form>

</body>
</html>