<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>No13社員情報削除</title>	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		 <script type="text/javascript" th:src="@{/js/js_No.js}"></script>
	</head>
	<style>
	.center{
		text-align: center;
	}
	</style>
<body onload="color1()">
	<input type="hidden" id="id_red" th:value="${id_point}">
	<input type="hidden" id="name_red" th:value="${name_point}">

	<form action="DELETE" method="post" name="No">
		社員情報削除画面<br> 削除したい情報を入力して下さい<br><br>
		
		
		<span th:if="${key03}">
			<font color="red">
  				<td th:text="${key040}"></td><br>
  				<td th:text="${key041}"></td><br>
  				<td th:text="${key042}"></td><br><br>
  			</font>
		</span> 


		社員ID:<input type="text" name="syainID" id="syainID" onchange = "active('DELETE')" th:value ="${key01}"><br>
		社員IDをA001～Z999の間の半角英数字で入力して下さい<br>
		＊社員IDは大文字のアルファベット+3桁の数字の組み合わせです(000の並びは使用できません)<br> <br>
		社員名:<input type="text" name="syainNAME" id="syainNAME" onchange = "active('DELETE')" th:value ="${key02}"><br>
		社員名を255文字以内で入力して下さい<br>


		<input type="button" value="削除" id="DELETE" onclick="chg(this.id)" disabled>
<br>
				</form>
<br>
	<form action="IDOU" method="post">
		<input type="submit" value="メニュー画面へ戻る">
	</form>
	</body>
</html>